<html>
<head>
		<style>
			body{
				 background-attachment:fixed;
				 text-align:center;
				 font-family:Arial,san-serif;
				 padding-top:80px;
				 background-image: url('https://image.shutterstock.com/image-photo/hospital-building-260nw-291911057.jpg');
				 background-size:1550px;
				 height:60px;
		</style>
	</head>
<body>
<center>
<h1 style="color:black; font-size:40px;" >
	<div class="imgcontainer">
	 <img src="https://i.pinimg.com/originals/51/da/e3/51dae37ea4bba453e090b67a7d11a22b.jpg" alt="avatar" class="avatar" width="100px" style="border-radius:90px;">
	</div>Patient Record data is deleted successfully</h1>
<h2>Do u want to delete one more row</h2>
<a href="deletepage.html"> Go back to delete page</a>

<h2>Do u want to insert or display</h2>
<a href="loginsuccess.html"> Go back to loginsuccess page</a>
</center>
</body>
</html>