<html>
<head>
		<style>
			body{
				 background-attachment:fixed;
				 text-align:center;
				 font-family:Arial,san-serif;
				 padding-top:80px;
				 background-image: url('https://image.shutterstock.com/image-photo/hospital-building-260nw-291911057.jpg');
				 background-size:1550px;
				 height:60px;
		</style>
	</head>
<body>
<h1>Patient Data Inserted Successfully</h1>
<h2>Do u want to insert one more row</h2>
<a href="/insertpage"> Go back to insert page</a>

<h2>Do u want to delete or display</h2>
<a href="loginsuccess"> Go back to loginsuccess page</a>
</body>
</html>