<html>
<head>
		<style>
			body{
				 background-attachment:fixed;
				 text-align:center;
				 font-family:Arial,san-serif;
				 padding-top:80px;
				 background-image: url('https://as1.ftcdn.net/jpg/01/62/16/26/500_F_162162665_3r5lvEw3vbVlNj0ogQjGJ53nNuB5UF8O.jpg');
				 background-size:1550px;
				 height:60px;
			
		</style>
	</head>
<body>
 <center>
<h1 style="color:black; font-size:40px;" >
	<div class="imgcontainer">
	 <img src="https://i.pinimg.com/originals/51/da/e3/51dae37ea4bba453e090b67a7d11a22b.jpg" alt="avatar" class="avatar" width="100px" style="border-radius:90px;">
	</div>Login fail!!!</h1>
<a href="loginpage.html">Go back to login page</a>
 </center>




</body>
</html>